.footer {
  background: var(--color-ghost-white);
  &__container {
    padding-top: 82px;
    display: flex;
    flex-direction: column;
    row-gap: 31px;
    padding-left: 85px;
    padding-right: 86px;
    padding-bottom: 56px;
    @media (max-width: 1315px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: 550px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    @media (max-width: 900px) {
      padding-top: 70px;
    }
    @media (max-width: 500px) {
      padding-top: 44px;
      padding-bottom: 24px;
    }
    @media (max-width: 480px) {
      row-gap: 37px;
    }
  }
  &__content {
    padding-right: 28px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1315px) {
      padding: 0;
    }
    @media (max-width: 1100px) {
      flex-wrap: wrap;
    }
    @media (max-width: 870px) {
      justify-content: flex-start;
      row-gap: 30px;
    }
    @media (max-width: 550px) {
      justify-content: flex-start;
    }
    @media (max-width: 480px) {
      row-gap: 33px;
    }
  }
  &__about {
    max-width: 302px;
    padding-left: 60px;
    background-position: 0 46px;
    background-repeat: no-repeat;
    background-size: 44px 45px;
    background-image: url("/public/img/footer/Symbol.svg");
    @media (max-width: 1100px) {
      flex: 1 0 50%;
    }
    @media (max-width: 870px) {
      flex: 1 0 100%;
    }
  }
  &__title {
    margin-bottom: 11px;
    color: var(--color-cobalt);
    font-family: "Intro";
    font-size: 14px;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    letter-spacing: 1.12px;
    text-transform: uppercase;
  }
  &__list {
    color: var(--color-cobalt);
    font-family: Intro Book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 171.429% */
    opacity: 0.64;
  }
  &__lists {
    display: flex;
    gap: 69px;
    @media (max-width: 1100px) {
      flex: 1 0 50%;
      justify-content: center;
    }
    @media (max-width: 870px) {
      padding-left: 70px;
      flex: 1 0 100%;
      justify-content: flex-start;
    }
    @media (max-width: 550px) {
      padding-left: 0;
      justify-content: flex-start;
      gap: 16px;
    }
  }
  &__menu {
    margin-left: -10px;
    @media (max-width: 550px) {
      margin-left: 0;
    }
  }
  &__line {
    border-radius: 1px;
    background: var(
      --color-pale-aqua,
      linear-gradient(0deg, #b7c6e7 0%, #b7c6e7 100%),
      #c2d2f4
    );
    width: 200px;
    height: 2px;
    margin-bottom: 13px;
    @media (max-width: 1315px) {
      width: 156px;
    }
    @media (max-width: 480px) {
      margin-bottom: 13px;
    }
  }
  &__contact {
    width: 232px;
    @media (max-width: 1100px) {
      padding-left: 60px;
      width: auto;
    }
    @media (max-width: 550px) {
      padding-left: 0px;
      width: 100%;
    }
    & .footer__line {
      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }
}
.about-footer {
  &__text {
    color: var(--color-cobalt);
    font-family: "Intro Book";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.64;
    @media (max-width: 870px) {
      max-width: 300px;
    }
  }
  &__title {
    margin-bottom: 28px;
    @media (max-width: 550px) {
      margin-left: -60px;
    }
  }
}
.contact-footer {
  &__tel {
    margin-bottom: 26px;
    color: var(--color-cobalt);
    font-family: "Intro";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    display: block;
  }
  &__text {
    max-width: 206px;
    color: var(--color-cobalt);
    font-family: "Intro Book";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    opacity: 0.64;
    margin-bottom: 66px;
    padding-left: 24px;
    background-position: 0 3px;
    background-repeat: no-repeat;
    background-size: 12px 16px;
    background-image: url("/public/img/footer/Pin-footer.svg");
    @media (max-width: 550px) {
      max-width: none;
      margin-bottom: 31px;
    }
  }
}
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 550px) {
    margin: 0 auto;
    max-width: 274px;
  }
  &__link {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: var(--color-light-denim);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.7;
    }
  }
}
.privacy {
  padding-left: 65px;
  padding-right: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 870px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 550px) {
    justify-content: center;
    & .privacy__text,
    & .privacy__policy {
      display: none;
    }
  }
  &__text {
    color: var(--color-cobalt);
    font-family: "Intro Book";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    opacity: 0.64;
  }
  &__logo {
    margin-left: -47px;
    @media (max-width: 550px) {
      margin: 0;
    }
  }
  &__policy {
    color: var(--color-cobalt);
    font-family: "Intro Book";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    opacity: 0.64;
    padding-left: 23px;
    background-position: 0 4px;
    background-repeat: no-repeat;
    background-size: 10px 13px;
    background-image: url("/public/img/footer/privacy.svg");
  }
  &-hidden {
    @media (max-width: 550px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 25px;
      padding-top: 48px;
    }
  }
}
